* {
  border: 1px solid red;
}

.box {
  width: 200px;
  height: 200px;
  padding: 5px;
  border: 5px solid blue;
  margin: 5px;
}

#inline-block-container {
  height: 250px;
  font-size: 0;
}

.inline-block {
  /* float: left; */
  display: inline-block;
  width: 20%;
  height: 250px;
  box-sizing: border-box;
}
